@use '../custom_props';
@use 'common';
@use '../animations/animation' as a;

@mixin center-image() {
  .center-image {
    &::before {
      content: '';
      display: block;
      width: common.$center-image-size;
      height: common.$center-image-size;
      background-color: var(--blue-dark);
    }

    width: common.$center-image-size;
    height: common.$center-image-size;
    position: relative;
    border-radius: 25%;
    overflow: hidden;

    animation: a.c-image-animation();

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border-radius: 25%;
      transition: opacity 500ms;

      &:not(:first-child):hover {
        opacity: 0
      }
    }
  }

  .image-container {
    animation: a.image-container-animation();
  }
}