// === Animation timings ===
$fade-in-animation-start: 0s;
$fade-in-animation-duration: 500ms;

$i-container-fade-animation-start: 5s;
$i-container-fade-animation-duration: 1s;

$spread-moons-animation-start: 1s;
$spread-moons-animation-duration: 1s;

$slide-up-animation-start: 300ms;
$slide-up-animation-duration: 800ms;

$orbit-animation-start: 6s;
$orbit-animation-duration: infinite;

// === Orbit animation ===
$orbit-speed: 100s;
$throb-speed: 2s;