@use 'sass:list';
@use 'config';
@use 'key-frames';

$start: config.$slide-up-animation-start;
$duration: config.$slide-up-animation-duration;

@function c-image-animation($animation-list) {
  @return list.append(
    $animation-list,
    slide-up $duration ease-out $start backwards,
    $separator: comma
  );
}
