@use 'sass:list';
@use 'config';

$start: config.$slide-up-animation-start;
$duration: config.$slide-up-animation-duration;

@function c-image-animation($animation-list) {
  @return list.append(
    $animation-list,
    slide-up $duration ease-out $start,
    $separator: comma
  );
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}