@use 'animations/animation' as a;
@use 'orbit';

@include a.hover-state-changes();

@mixin base() {
  font-family: system-ui;
}

body {
  @include base();

  display: grid;
  min-height: 100vh;
  place-content: center;
}
